.Main {
}

h1,h2 {
    text-align: center;
}

.barChart {
    margin-left: 1em;
    padding-right: 10em;
    width: 100%;
}

.lineChart {
    margin-left: 1em;
    padding-right: 10em;
    width: 100%;
}

.radarChart {
    margin-left: 1em;
    padding-right: 10em;
    width: 100%;
}

.pieChart {
    margin-left: 1em;
    padding-right: 10em;
    width: 100%;
}

.polarChart {
    margin-left: 1em;
    padding-right: 10em;
    width: 100%;
}